@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  color: gray;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
  margin-top: 16px;
  padding: 10px;
  border: 0;
  border-radius: 5px;
  background-color: #24a0ed;
  font-size: medium;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: 700;
}

.waveButton:hover {
  background-color: #63bbf2;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  color: black;
}
